version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: criptoalert
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build:
      context: ./apps/backend
    environment:
      DATABASE_URL: 'postgresql://postgres:admin123@db:5432/criptoalert?schema=public'
      NODE_ENV: production
    depends_on:
      - db
    ports:
      - '3000:3000'
    volumes:
      - ./apps/backend:/usr/src/app
    command: sh -c "npm run build && npm start"

volumes:
  db-data:
